.students-cont {
  width: 100%;
  margin-top: 100px;
  direction: rtl;
  .students-title {
    font-size: 4rem;
    font-family: gezer;
    font-weight: 200;
    color: $clr5;
  }

  .students-open {
    color: $clr5;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;

    display: flex;
    align-items: center;

    .students-txt {
      width: 40%;
    }
    .students-svg {
      width: 60%;
    }
    margin-bottom: 2rem;
  }

  .student-item-cont {
    width: 200%;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 144, 127);

    margin: 0;
    padding-bottom: 100px;

    .student-items-title {
      width: fit-content;
      margin-right: 6rem;
      text-align: center;
      padding-top: 50px;
      font-family: gezer;
      font-size: 3rem;
      color: $clr5;
    }
    .student-items {
      width: 100%;
      text-align: center;
      color: $clr5;
      padding: 30px;
      display: grid;
      display: flex;
      position: relative;
    }
  }

  .all-marathons-cont {
    width: 100%;

    padding-top: 50px;

    .all-marathons-cont-main {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .btn-marathon {
    margin-top: 1rem;
    border: none;
    border-radius: 46px;
    align-items: center;
    background-color: $clr12;
    color: $clr4;
    width: 20%;
    height: fit-content;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1.3rem;
    margin-left: 40%;
    margin-right: 40%;
    cursor: pointer;
  }

  .all-marathons-title {
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
    font-family: gezer;
    font-weight: 200;
    color: $clr5;
  }
  .marathons-select-cont {
    height: fit-content;
  }
  @media (max-width: $break-small) {
    .students-title {
      font-size: 3rem;
      position: relative;
      left: 65%;
      transform: translate(-65%);
    }

    .students-title:nth-of-type(2) {
      font-size: 3rem;
      position: relative;
      left: 30%;
      transform: translate(-60%);
      margin-bottom: 3rem;
    }

    .students-open{
      display: flex;
      flex-direction: column;
      .students-txt{
        width: 90%;
      }
      .students-svg {
        width: 100%;
      }
      margin-bottom: 2rem;
    }
    .all-marathons-cont {
      .all-marathons-cont-main {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .btn-marathon{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }

    .all-marathons-title div {
      display: flex;
      width: 95%;
      position: relative;
      left: -10%;
      transform: translate(11%);
    }
  }
}
.big{
  margin-bottom: 50px;
}

