/* .dash-cont {
  background-color: rgb(255, 255, 255);
  direction: rtl;
  padding-top: 5%;
  padding-bottom: 10%; }*/

.plan-content {
  z-index: 9;
  h1 {
    text-align: center;
    font-size: 1.9rem;
  }
  direction: rtl;
  width: 80%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 10%;
  right: 50%;
  left: 10%;
  padding: 30px;
  animation-name: slide-scale;
  animation-duration: 0.5s;

  button {
    display: block;
    margin: 0 auto;
    width: 10%;
    border-radius: 20px;
    border: none;
    height: 35px;
    background-color: $clr5;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .form-btn:hover {
    background-color: $clr1;
  }
}
.table-profile-dets {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.items {
  display: flex;
  justify-content: center;
  height: 70%;

  .user-info {
    background-color: white;
    width: 40%;
    height: 30vh;
    border: 0.2px solid rgb(148, 148, 148);
    border-radius: 3px;
    padding: 20px;
    margin-top: 10%;
  }

  .table {
    background-color: white;
    padding-top: 10%;
    border-radius: 3px;
  }
}

.grey-div {
  position: fixed;
  background-color: rgba(67, 67, 67, 0.502);
  top: 0;
  left: 0;
}
.lesson-summary-cont {
  h1 {
    text-align: center;
  }
  direction: rtl;
  width: 70%;
  height: fit-content;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;

  padding: 30px;
  // animation-name: slide-scale;
  // animation-duration: 5s;
  z-index: 10;
  button {
    display: block;
    margin: 0 auto;
    width: 10%;
    border-radius: 20px;
    border: none;
    height: 35px;
    background-color: $clr5;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    bottom: -50%;
  }
  .form-btn:hover {
    background-color: $clr1;
  }
}

.subject-pay-cont {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .dash-data-eval-cont {
    width: 70%;
  }

  .subject {
    display: block;
    width: 25%;
    height: fit-content;
    margin-bottom: 5%;
    text-align: center;

    font-size: 1.2rem;
    font-weight: bold;
    padding: 3%;
    border: 0.5px solid rgb(207, 207, 207);
    background-color: white;
    direction: rtl;
    h1 {
      margin-top: 2%;
      margin-bottom: 2%;
    }

    ul {
      margin-top: 2rem;

      color: #393939;
      list-style: none;
      // overflow: hidden;
      width: 100%;
      color: rgb(167, 101, 161);
      // font-family: gezer;
      text-align: center;
      padding: 7px;
      // padding-left: 3.5rem;

      .subject-list {
        // font-family: gezer;
        text-align: center;
        color: rgb(96, 96, 96);
        padding: 1rem;
        margin: 0;
        margin-bottom: 0.3rem;
        border: 0.5px solid rgba(207, 207, 207, 0.007);
        background-color: rgba(232, 240, 248, 0.891);
        text-align: center;
        border-radius: 6px;
        width: 100%;

        span {
          background-color: rgb(255, 255, 255);
          border-radius: 50%;
          height: 30px;
          width: 30px;
          line-height: 30px;
          position: relative;
          float: right;
          color: $clr5;
          font-family: gezer;
        }
      }
    }
  }
}

.package-layout {
  padding-left: 25px;
  padding-right: 25px;
}

.dash-card-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;
  // background-color: #b04ee0;

  .card-wraper {
    --color-grey-100: rgb(236, 236, 236);
    --color-grey-400: rgb(134, 134, 134);
    --color-grey-600: rgb(58, 58, 58);
    --color-grey-900: rgb(41, 41, 41);

    --color-primary-300: #b04ee0;
    --color-button-700: #550080;

    --size-1: 18px;
    --size-5: 50px;

    display: flex;
    width: 31%;
    font-weight: 400;

    .card-container {
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: white;
      width: 100%;
      margin: 50px auto;
      box-shadow: 3px 3px 10px rgb(203, 193, 193);
      transition: transform 0.5s ease-out;
      border-radius: 3px;

      h1 {
        color: var(--color-orange-600);
        text-align: right;
        // padding: 30px 50px 0px 50px;
        // margin: 10px 0;
        font-size: 1.5rem;
      }
    }

    .card-container:hover {
      transform: scale(1.06);
    }

    .card-info {
      color: var(--color-grey-400);
      text-align: right;
      // padding: 0 50px;
      // margin: 10px 0 30px 0;
    }

    .price {
      color: var(--color-grey-900);
      background-color: $clr11;
      text-align: center;
      // margin: 30px auto 10px auto;
      padding: 1rem;
      font-size: 2rem;
      font-weight: 600;
    }

    .price-info {
      color: var(--color-grey-400);
      text-align: center;
      // margin: 10px 0 30px 0;
      // padding: 0 50px;
    }

    .sub-feature {
      display: flex;
      margin-bottom: 10px;
    }

    .icon {
      display: flex;
      width: 20px;
      margin-left: 5%;
    }

    .sub-feature-text {
      color: var(--color-grey-600);
      font-size: 1rem;
      line-height: 1rem;
      margin: 0;
    }

    .button-container {
      text-align: center;
      // margin: 30px 0 0 0;
    }

    .button {
      color: var(--color-button-700);
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      width: 70%;
      padding: 10px;
      // margin: 0 0 30px 0;
      border: 2px solid rgb(224, 224, 224);
      font-size: var(--size-1);
      font-weight: 600;
      transition: background-color 0.5s ease-out;
    }

    .button:hover {
      color: white;
      background-color: var(--color-button-700);
      border: 2px solid rgb(255, 255, 255);
    }
  }
}
@media (max-width: 768px) {
  .lesson-summary-cont {
    width: 90%;
  }
  .subject-pay-cont {
    display: block;
    // padding: 5px;
    // padding: 0;
    width: 100%;
    .dash-data-eval-cont {
      width: 100%;
    }

    .subject {
      width: 100%;
      padding: 5px;
      ul {
        padding: 5px;
      }
    }
  }

  .table-profile-dets {
    display: block;
    margin-top: 20%;

    // background-color: #550080;

    .dash-tables-cont {
      margin-bottom: 10%;
      width: 100%;
      margin-top: 5%;

      .dash-table-btns {
        .dash-table-btn {
          width: fit-content;
          font-size: 0.5rem;
        }
      }
    }
  }
}

@keyframes slide-scale {
  from {
    opacity: 0;
    transform: translateY(-10%) scale(0.7);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
