.contacts-container {
  //   position: absolute;
  //   bottom: 0;
  height: 20vh;
  position: fixed;
  // transition-timing-function: ease;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  background: rgb(65, 0, 114);
  background: linear-gradient(90deg, rgba(65, 0, 114, 1) 37%, rgba(64, 0, 116, 0.7654412106639531) 67%, rgba(255, 132, 0, 1) 100%);

  .contacts-content {
    position: relative;

    .contact-title {
      margin-top: 20px;
      font-family: gezer;
      color: rgb(255, 255, 255);
    }

    .contact-input-cont {
      input {
        border-radius: 60px;
        height: 30px;
        border: none;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 10px;
        text-align: right;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }
      input::placeholder {
        color: $clr5;
      }
    }

    .close-contacts-btn {
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
      height: 30px;
      width: 30px;
      background-color: #ffffff;
      border: 0;
      border-radius: 50px;
      color: $clr1;
      cursor: pointer;
      display: inline-block;
      font-family: system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: 600;
      outline: 0;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      position: absolute;
      top: 0;
      right: 0;
    }

    .close-contacts-btn:hover {
      box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
    }

    .btn {
      padding: 1px 20px;
      margin-top: 10px;
      background-color: $clr1;
      border-radius: 50px;
    }
  }
}

@media (max-width: 768px) {
  .contacts-container {
    height: 20vh;

    .contacts-content {
      .contact-input-cont {
        display: flex;
        width: 100%;

        input {
          width: 32%;
          margin: 1rem;
          height: auto;
          margin-left: 3px;
        }
      }
      .btn {
        padding: 3px 10px;
        margin-top: 7px;
        font-size: 1rem;
      }
    }
  }
}
