.data-cont {
  clip-path: polygon(0 0, 100% 0%, 100% 51%, 50% 64%, 0 51%);
  background-color: $clr1;
  padding-bottom: 10vh;
  .data-box {
    justify-content: space-between;
    text-align: center;
    .data-item {
      color: rgb(255, 255, 255);

      h1 {
        font-weight: 900;
        font-size: 4rem;
        font-family: gezer;
        line-height: 4rem;
        margin: 0;
      }
    }
  }
}

@media (max-width: $break-small) {
  .data-cont {
    padding-bottom: 20vh;
    margin-bottom: -20%;
    .data-box {
      display: block;
      margin-bottom: 0;

      .data-item {
        h1 {
          font-weight: 500;
          font-size: 2rem;
          font-family: gezer;
          line-height: 2rem;
          margin: 0;
        }
        h6 {
          font-weight: 100;
        }
      }
    }
  }
}
