.logo {
  width: 100px;
  z-index: 20;
}

.main-layout {
  max-width: 1200px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 768px) {
  .main-layout {
    max-width: 1200px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.btn {
  background-color: $clr5;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

// .btn:before {
//   background-color: initial;
//   background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
//   border-radius: 125px;
//   content: '';
//   height: 50%;
//   left: 4%;
//   opacity: 0.5;
//   position: absolute;
//   top: 0;
//   transition: all 0.3s;
//   width: 92%;
// }

// .btn:hover {
//   box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
//   transform: scale(1.05);
// }

@media (min-width: 768px) {
  .btn {
    padding: 16px 48px;
  }
}

.review-btn {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border: 0;
  border-radius: 50px;
  color: $clr1;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.review-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
}

.review-btn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: '';
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.left-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.right-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0, -50%);
}
