@font-face {
  font-family: anka;
  src: url('/src/styles/fonts/anka/ankaclm-bold-webfont.ttf');
}
@font-face {
  font-family: ktavyad;
  src: url('/src/styles/fonts/ktav-yad/KtavYadCLM-MediumItalic.otf');
}
@font-face {
  font-family: ktavyadBold;
  src: url('/src/styles/fonts/ktav-yad/KtavYadCLM-BoldItalic.otf');
}
@font-face {
  font-family: gezer;
  src: url('/src/styles/fonts/gezer/FbGezer-Regular.woff') format('woff');
}
@font-face {
	font-family: fa;
	src: url('/src/styles/fonts/fa-brands-400.ttf');
}
