// Header Breakpoints
$break-small: 700px;
$break-medium: 900px;
$break-large: 1100px;

// COLOR PALETTE
$clr0: #0aa879;
$clr1: #ffa216;
$clr2: rgb(164, 163, 163); //border color
$clr3: rgb(229, 228, 228); //background color
$clr4: rgb(107, 104, 104); //border color

$clr5: #550080;
$clr5: #550080;
$clr6: #7001a8;
$clr7: #f1d6ff;

$clr8: rgb(69, 69, 69);
$clr9: rgb(235, 134, 116);

$clr10: #828feb;
$clr11: rgb(158, 184, 242);
$clr12: rgb(194, 216, 234);
