.login-cont {
  width: 50%;
  background-color: rgba(251, 251, 251, 0.927);
  padding: 50px;
  padding-bottom: 25px;
  margin: 0 auto;
  border-radius: 50px;
  .koteret {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .input {
    margin-bottom: 0.5rem;
    height: 2rem;
    border-radius: 50px;
    border-color: transparent;
    width: 90%;
    background-color: rgba(232, 240, 248, 0.891);
    padding-right: 20px;
  }
  button {
    margin-top: 2%;
    width: 50%;
    border-radius: 20px;
    border: none;
    height: 35px;
    background-color: $clr5;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .form-btn:hover {
    background-color: $clr1;
  }
  h5 {
    margin-top: 1rem;
  }

  .tapin{
    width: fit-content;
    margin: 0;
    background-color: transparent;
    color: green;
    font-size: small;
    cursor: pointer;
  }
  
  margin-bottom: 4rem;
}
@media (max-width: $break-small) {
  .login-cont{
    margin-top: 9rem;
    width: 80%;
  }
}